<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tasks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCB4CE6F2CD20C4900680E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB4CE812CD20C4B00680E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB4CE8B2CD20C4B00680E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
